body {
	margin:0;
	font-size: 15px;
	font-family:Arial;
	background-color: #080808;
	color: white;
}
.header {
  background-color: #060606;
  color: #ffffff;
  padding: 3px;
  text-align: center;
}

 /* unvisited link */
a:link {
  color: #92ff53;
}

/* visited link */
a:visited {
  color: #00c900;
}

/* mouse over link */
a:hover {
  color: #a8ff8a;
}

/* selected link */
a:active {
  color: #a8ff8a;
} 

 
.content {
  padding: 16px;

}
.subheader h3 {
	display: inline;
	padding: 16px;
}

.threshold {
  padding-top: 16px;
  padding-bottom: 16px;
}
.slidecontainer {
  width: 100%;

}
.slidecontainer,
p {
    font: 1rem 'Calibri';
}
.red-target, .red-standby {
  color: #FE3025;
}
.green-target, .green-standby {
  color: #05DF00;
}
.blue-target, .blue-standby {
  color: #0099FF;
}
.white-target, .white-standby {
  color: #EEEEEE;
}

label {

  float: left;
  clear: left;
  width: 80px;
  text-align: left;
  padding: 16px 20px;
}
 .measuredLevel {

  text-align:center;
  float: left;
  background-color: #111111;
  color: white;
  width: 55px;
  padding: 10px 10px;
  margin: 10px 30px 10px 30px;
  box-sizing: border-box;
  border: 3px solid #009B69;
  border-radius: 15px;
  -moz-appearance:textfield;
  
}
input[type=number] {

  text-align:center;
  float: left;
  background-color: #111111;
  color: white;
  width: 55px;
  padding: 10px 15px;
  margin: 5px 30px;
  box-sizing: border-box;
  border: 3px solid #004E9B;
  border-radius: 15px;
  -moz-appearance:textfield;
  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:focus {
  background-color: #4E4E4E;
}
input[type=checkbox] {

  text-align:center;
  float: left;
  background-color: #111111;
  color: white;
  padding: 12px 15px;
  margin: 19px 50px;

  
}
.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 4px;
  background: #FFFFFF;
  outline: none;
  opacity: 0.6;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: opacity .3s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #878989;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #878989;
  cursor: pointer;
}
#redTarget.slider::-webkit-slider-thumb {
  background: #FE3025;
}
#redTarget.slider::-moz-range-thumb {
  background: #FE3025;
}
#redStandby.slider::-webkit-slider-thumb {
  background: #FE3025;
}
#redStandby.slider::-moz-range-thumb {
  background: #FE3025;
}
#greenTarget.slider::-webkit-slider-thumb {
  background: #05DF00;
}
#greenTarget.slider::-moz-range-thumb {
  background: #05DF00;
}
#greenStandby.slider::-webkit-slider-thumb {
  background: #05DF00;
}
#greenStandby.slider::-moz-range-thumb {
  background: #05DF00;
}
#blueTarget.slider::-webkit-slider-thumb {
  background: #0099FF;
}
#blueTarget.slider::-moz-range-thumb {
  background: #0099FF;
}
#blueStandby.slider::-webkit-slider-thumb {
  background: #0099FF;
}
#blueStandby.slider::-moz-range-thumb {
  background: #0099FF;
}
#whiteTarget.slider::-webkit-slider-thumb {
  background: #FFFFFF;
}
#whiteTarget.slider::-moz-range-thumb {
  background: #FFFFFF;
}
#whiteStandby.slider::-webkit-slider-thumb {
  background: #FFFFFF;
}
#whiteStandby.slider::-moz-range-thumb {
  background: #FFFFFF;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 2s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav div.icon {
    float: right;
	position: relative;
	right: 8px;
    top: 8px;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive.sticky {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .progress-container.sticky {
  position: fixed;
  top: 48px;
  z-index: 1;
  }
} 