build/ linguist-detectable=false
scheme/ linguist-detectable=false
frontend/README.md linguist-detectable=false
README.md linguist-detectable=false
CHANGELOG.md linguist-detectable=false
partitions.csv linguist-detectable=false
.project linguist-detectable=false
.cproject linguist-detectable=false
Makefile linguist-detectable=false
CMakeLists.txt linguist-detectable=false
main/CMakeLists.txt linguist-detectable=false
main/Kconfig.projbuild linguist-detectable=false